src/flows/Mass_Status_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Curtain_Fields_Carniz_2_Assignment</name>
        <label>Curtain Fields Carniz 2 Assignment</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Name2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Height2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Tasma2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_tasma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Zbirka2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_zbirka</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.PoshivPrice2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_pricePoshiv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.CurtainDiscount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Description2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.HeightPoint2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_heightPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.ObrobkaNiz2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_obrobkaNiz</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Price2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Curtain_Object_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Curtain_Object_Assignment</name>
        <label>Curtain Object Assignment</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>collection_curtainToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_Curtains_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Curtains_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Curtain_Status_Assignment</name>
        <label>Curtain Status Assignment</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Tasma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_tasma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Zbirka__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_zbirka</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.PoshivPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_pricePoshiv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.CurtainDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.HeightPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_heightPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.ObrobkaNiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_obrobkaNiz</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Curtains_Loop.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Carniz_2_Presented</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Carniz_2_Presented</name>
        <label>Carniz 2 Presented</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Curtain_Object_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Curtains_Loop.Carniz2__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Curtain_Fields_Carniz_2_Assignment</targetReference>
            </connector>
            <label>Presented</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceSet_Discount</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurtainDiscount__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_heightPoint</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HeightPoint__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_obrobkaNiz</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ObrobkaNiz__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_poshivPrice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PoshivPrice__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Statuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_tasma</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tasma__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_zbirka</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zbirka__c</picklistField>
        <picklistObject>Curtain__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_comment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Comment}), {!Selected_Curtains_Loop.Description__c}, {!Comment})</expression>
    </formulas>
    <formulas>
        <name>formula_discount</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Discount}),
    TEXT({!Selected_Curtains_Loop.CurtainDiscount__c}),
    SUBSTITUTE({!Discount}, &quot; %&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>formula_height</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Height}), {!Selected_Curtains_Loop.Height__c}, {!Height})</expression>
    </formulas>
    <formulas>
        <name>formula_heightPoint</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!heightPoint}), TEXT({!Selected_Curtains_Loop.HeightPoint__c}), {!heightPoint})</expression>
    </formulas>
    <formulas>
        <name>formula_name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Name}), {!Selected_Curtains_Loop.Name__c}, {!Name})</expression>
    </formulas>
    <formulas>
        <name>formula_obrobkaNiz</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!obrobkaNiz}), TEXT({!Selected_Curtains_Loop.ObrobkaNiz__c}), {!obrobkaNiz})</expression>
    </formulas>
    <formulas>
        <name>formula_price</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Price}), {!Selected_Curtains_Loop.Price__c}, {!Price})</expression>
    </formulas>
    <formulas>
        <name>formula_pricePoshiv</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!PricePoshiv}),
    TEXT({!Selected_Curtains_Loop.PoshivPrice__c}),
    SUBSTITUTE({!PricePoshiv}, &quot; грн.&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_status</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!selectedStatus}), TEXT({!Selected_Curtains_Loop.Status__c}), {!selectedStatus})</expression>
    </formulas>
    <formulas>
        <name>formula_tasma</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Tasma}), TEXT({!Selected_Curtains_Loop.Tasma__c}), {!Tasma})</expression>
    </formulas>
    <formulas>
        <name>formula_zbirka</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Zbirka}), TEXT({!Selected_Curtains_Loop.Zbirka__c}), {!Zbirka})</expression>
    </formulas>
    <interviewLabel>Mass Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Status Update</label>
    <loops>
        <name>Selected_Curtains_Loop</name>
        <label>Selected Curtains Loop</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>DisplayCurtains.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Curtain_Status_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Curtains</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Curtains</name>
        <label>Get Related Curtains</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Curtain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Curtains</name>
        <label>Update Curtains</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <inputReference>collection_curtainToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Curtains_Loop</targetReference>
        </connector>
        <fields>
            <name>Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Назва</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Height</name>
                    <dataType>String</dataType>
                    <fieldText>Висота (см)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price</name>
                    <dataType>String</dataType>
                    <fieldText>Ціна тканини</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PricePoshiv</name>
                    <choiceReferences>choiceSet_poshivPrice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ціна пошиву</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Comment</name>
                    <dataType>String</dataType>
                    <fieldText>Коментар</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>obrobkaNiz</name>
                    <choiceReferences>choiceSet_obrobkaNiz</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Обробка низу</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectedStatus</name>
                    <choiceReferences>choiceSet_Statuses</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Статус штори</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tasma</name>
                    <choiceReferences>choiceSet_tasma</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Тасьма</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Zbirka</name>
                    <choiceReferences>choiceSet_zbirka</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Збірка</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>heightPoint</name>
                    <choiceReferences>choiceSet_heightPoint</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Точка висоти</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Discount</name>
                    <choiceReferences>choiceSet_Discount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Спеціальні умови</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayCurtains</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Curtain__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Штори</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Curtains</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-89bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Назва&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Room__c&quot;,&quot;guid&quot;:&quot;column-ffba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Кімната&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;GeneralPrice__c&quot;,&quot;guid&quot;:&quot;column-d522&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Загальна сумма&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Оновити штори</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Curtains</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_curtainToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Curtain__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
